<div class="large-6 medium-6 small-12 columns">
<% school_id = @school_id  %>
<% user_id =  current_user.id %>

<%= render 'form', classroom: @classroom %>

  <% @school.each do |s| %>
  <div class="large-6 medium-6 small-12 columns">
    <% s.classrooms.each do |c| %>
      <h4>Subject: <%= c.subject %></h4>
      <h4>Grade: <%= c.grade %></h4>
      <h4>Classroom Number: <%= c.class_number %></h4><br>
      <%= link_to 'Add Student', user_school_classroom_student_path(current_user, s, c ) %><br>
      <%= link_to 'Edit Classroom', edit_user_school_classroom_path(user_id, @school_id, c ) %><br><br>

    <% end %>
  </div>
  <% end %>
</div>
