<div class="school-box large-12 columns">
  <!-- Classroom box information -->

  <div class="callout class-box large-4 medium-4 small-12 columns">
    <h5>Class: <%= @classroom.subject %></h5>
    <h5>Grade: <%= @classroom.grade %></h5>
    <h5>Class Number: <%= @classroom.class_number %></h5>
    <!-- Classroom comments form -->
    <div class="comment">

      <%= form_for @comment, html: {class: ''} do |f| %>
        <%= f.label :subject %>
        <%= f.text_field :subject %>

        <%= f.label :comment, 'Comment' %>
        <%= f.text_area :comment, size: "60x6" %>

        <%= f.hidden_field :user_id, value: current_user.id %>

        <%= f.hidden_field :classroom_id, value: @classroom.id%>

        <%= f.submit "Submit", class: 'button submit-button' %>
      <% end %>
    </div>
  </div>
  <!-- Teacher comment box -->
  <div class="large-6 medium-6 small-12 columns">
    <div class="callout comment">
      <h6>Teacher Comments:</h6>
      <% @classroom.comments.reverse.each do |comment| %>
        <div class="callout">
          <p class="subject-comment-box">Subject: <%= comment.subject %></p>
          <p><%= comment.comment %></p>
          <p>Posted Date: <%= comment.created_at.strftime("%m/%d/%Y %H:%M") %></p>
          <p> <%= link_to 'Delete Comment', comment, method: :delete, data: {confirm: 'Are you sure?'} %></p>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Student information -->
  <div class="callout large-12 medium-12 small-12 columns">
    <p> <%= link_to 'Edit or add Students', user_school_classroom_students_path(current_user, @school_id, @classroom ) %></p>
    <h5>Students List</h5>
    <% @classroom.students.each do |s| %>
    <div class="callout large-6 medium-6 columns student-box">
      <!-- Student information -->
      <% if s.profile_photo? %>
        <%= image_tag(s.profile_photo, class:'picture') %><br>
      <% end %>
      <p class="student">Student Name: <%= s.full_name %> </p>
      <p class="student">Student last Update: <%= s.updated_at.strftime("%m %d %Y") %> </p>
      <!-- Student profile picture if id one  -->

      <%= link_to 'Student Info', user_school_classroom_student_path(current_user.id, @school_id, @classroom.id, s) %> |
      <%= link_to 'Edit Student', edit_user_school_classroom_student_path(current_user.id, @school_id, @classroom.id, s ) %> |
      <%= link_to 'Delete Student', s, method: :delete, data: { confirm: 'Are you sure?' } %>
      <br><br>
    </div>
    <% end %>
  </div>

</div>
