



<div class="large-6 medium-6 small-12 columns">


<% school_id = @school_id  %>
<% user_id =  current_user.id %>

<div class="translucent-form-overlay">
  <h3>Add Classroom</h3>

<%= form_for @classroom, html: { class: ''} do |f| %>

    <%= f.label :subject, 'Subject' %><br/>
    <%= f.text_field :subject, required: true, autofocus: true %></br>

    <%= f.label :grade, 'Grade' %><br/>
    <%= f.text_field :grade, required: true, autofocus: true %></br>

    <%= f.label :class_number, 'Class Number' %><br/>
    <%= f.text_field :class_number, autofocus: true %>

    <%= f.hidden_field :school_id, value: school_id %>

    <%= f.hidden_field :user_id, value: user_id %>

    <%= f.submit "Submit", class: 'new-user-form' %>
<% end %>

</div>
</div>




  <% @school.each do |s| %>
  <div class="large-6 medium-6 small-12 columns">
    <% s.classrooms.each do |c| %>
      <h4>Subject: <%= c.subject %></h4>
      <h4>Grade: <%= c.grade %></h4>
      <h4>Classroom Number: <%= c.class_number %></h4><br><br>
      <li> <%= link_to 'Add Student', user_school_classroom_student_path(current_user, s, c ) %> </li>

  <% end %>
</div>
  <% end %>
