<h3>Classes</h3>


<% school_id = @school_id  %>
<% user_id =  current_user.id %>

  <% @school.each do |s| %>
  <div class="large-6 columns">
    <% s.classrooms.each do |c| %>
    <div class="callout">

      <h4>Subject: <%= c.subject %></h4>
      <h4>Grade: <%= c.grade %></h4>
      <h4>Classroom Number: <%= c.class_number %></h4><br>
      <%= link_to 'Add Student To Your Class', user_school_classroom_student_path(current_user, s, c ) %><br>
      <%= link_to 'Edit Classroom', edit_user_school_classroom_path(user_id, @school_id, c ) %><br>
      <%= link_to 'Delete classroom', c, method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
    </div>

    <% end %>
  </div>
  <% end %>

<div class="large-6 small-12 columns">
  <h3>Add Classroom</h3>

<div class="translucent-form-overlay">
  <%= render 'form', classroom: @classroom %>
</div>

</div>
