<h1>hello from students show</h1>


<div class="large-6 medium-6 small-12 columns">
  <%= render 'form', student: @student %>

</div>




<% school_id = @school_id  %>
<% user_id =  current_user.id %>
<% classroom_id =  @classroom_id %>


<div class="large-6 small-12 columns">
  <%@classroom.each do |c| %>
    <% c.students.each do |s| %>
       <h2>Classroom Subject: <%= c.subject %></h2>
       <h4>Student Name: <%= s.full_name %> </h4>
       <h4>Student Grade: <%= s.grade %> </h4>
        <% if s.profile_photo? %>
       <%= image_tag(s.profile_photo) if current_user.profile_photo? %><br>
       <% end %>
       <%= link_to 'Edit Student', edit_user_school_classroom_student_path(user_id, @school_id, c, s ) %><br><br>

       <br><br>

    <% end %>
  <% end %>

</div>
