<h1>hello from students show</h1>


<div class="large-6 medium-6 small-12 columns">


<% school_id = @school_id  %>
<% user_id =  current_user.id %>
<% classroom_id =  @classroom_id %>

<div class="translucent-form-overlay">
  <h3>Add Students</h3>

<%= form_for @student, html: { class: ''} do |f| %>

    <%= f.label :first_name, 'First Name' %><br/>
    <%= f.text_field :first_name, required: true, autofocus: true %></br>

    <%= f.label :last_name, 'Last Name' %><br/>
    <%= f.text_field :last_name, required: true, autofocus: true %></br>

    <%= f.label :grade, 'Grade' %><br/>
    <%= f.text_field :grade, autofocus: true %>

    <label>Upload Picture</label>
    <%= f.file_field :profile_photo %>
    <div class="actions">

    <%= f.hidden_field :school_id, value: school_id %>

    <%= f.hidden_field :user_id, value: user_id %>

    <%= f.hidden_field :classroom_id, value: classroom_id %>


    <%= f.submit "Submit", class: 'new-user-form' %>
<% end %>

</div>
</div>
</div>
<div class="large-6 small-12 columns">

<%@classroom.each do |c| %>
  <% c.students.each do |s| %>
     <h4>Student Name: <%= s.full_name %> </h4>
     <h4>Student Grade: <%= s.grade %> </h4>
      <% if s.profile_photo? %>
     <%= image_tag(s.profile_photo) if current_user.profile_photo? %>
     <% end %>

     <br><br>

  <% end %>
<% end %>

</div>
