<div class="school-box large-12 medium-12 columns" >

  <h4>Classroom Subject: <%= @classroom[0].subject %> </h4>

  <% school_id = @school_id  %>
  <% user_id =  current_user.id %>
  <% classroom_id =  @classroom_id %>
  <div class="callout large-12 columns">
    <div class="large 12 columns">

      <%= link_to 'Delete Token', @student.tokens[0], method: :delete, data: { confirm: 'Are you sure?' } %> |
      <%= link_to 'Edit Student', edit_user_school_classroom_student_path(user_id, @school_id, classroom_id, @student.id ) %> |
      <%= link_to 'Back to Classroom', user_school_classroom_path(user_id, @school_id, classroom_id) %> |
      <%= link_to 'Delete Student', @student, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <!-- Student information -->
    <div class="large-12 columns">

      <div class="large-6 medium-6 columns student-info">
        <p class="school-info">Student Info</p>
        <p>Name: <%= @student.full_name %></p>
        <p>Grade: <%= @student.grade %></p>
        <p>last Update: <%= @student.updated_at.strftime("%m/%d/%Y") %></p>
        <!-- Student profile picture if id one  -->
        <% if @student.profile_photo? %>
        <%= image_tag(@student.profile_photo) %><br>
        <% end %>

        <% if @student.tokens.length >=1 %>
          <h5>Student Token: <%= @student.tokens[0].token %></h5>
          <h5>Student Id: <%= @student.id %></h5><br>
        <% else %>
          <%= form_for @token, html: { class: ''} do |f| %>
            <%= f.label :token, 'Token' %>
            <%= f.text_field :token %>

            <%= f.hidden_field :user_id, value: user_id %>

            <%= f.hidden_field :student_id, value: @student.id %>

            <%= f.submit "Submit", class: 'button submit-button' %>
          <% end %>
        <% end %>
      </div>
      <!-- Parents info -->
      <div class="large-6 medium-6 columns parent">
        <% if @student.tokens.length >= 2%>
          <% parent = User.where(id: @student.tokens[1].user_id) %>
          <% parent.each do |parent| %>
            <h6>Parent Name: <%= parent.full_name %></h6>
            <h6>Email: <%= parent.email %></h6>
            <% if parent.profile_photo? %>
            <%= image_tag(parent.profile_photo) %><br>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <!-- Comment form -->
    <div class="large-6 columns form-comment">
      <%= form_for @comment, html: {class: ''} do |f| %>
        <%= f.label :subject %>
        <%= f.text_field :subject %>

        <%= f.label :comment, 'Class Comment' %>
        <%= f.text_area :comment, size: "60x6" %>

        <%= f.hidden_field :user_id, value: current_user.id %>

        <%= f.hidden_field :classroom_id, value: @classroom_id%>

        <%= f.hidden_field :student_id, value: @student.id %>

        <%= f.submit "Submit", class: 'button submit-button' %>
      <% end %>
    </div>
    <!-- Comment list -->
    <div class="large-6 columns comment">
      <% @comments.each do |comment| %>
        <div class="callout">
          <p class="subject-comment-box">Subject: <%= comment.subject %></p>
          <p><%= comment.comment %></p>
          <p>Posted Date: <%= comment.created_at.strftime("%m/%d/%Y %H:%M") %></p>
          <p> <%= link_to 'Delete Comment', comment, method: :delete, data: {confirm: 'Are you sure?'} %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
