<div class="callout">
  <div class="">

    <h2>Hello <%= current_user.first_name %>. Here is your Info.</h2>
    <h3>Your Full Name Is "<%= current_user.full_name %>" And You Email Address is "<%= current_user.email %>" </h3>
  </div>
  <% school = @schools %>


  <%= form_for current_user, html: { multipart: true } do |f| %>
          <p>
            <%= image_tag(current_user.profile_photo) if current_user.profile_photo? %>
              <% if current_user.profile_photo? %>
              <% else %>
                <label>Upload Picture</label>
                <%= f.file_field :profile_photo %>
                <div class="actions">
                  <%= f.submit "Upload Picture" %>
                </div>
              <% end %>
          </p>
            <% end %>
  </div>

    <div class="callout">
      <%= form_tag(user_path(current_user), method: :get) do %>
        <%= label :school, 'School Name' %>
        <%= text_field_tag :school, nil %>

        <%= submit_tag 'Search' %>
      <% end %>

       <% @result_school.each do |r| %>
          <div class="callout">

            <h1>School Name: <%= r.name %></h1>
            <h1>School Address: <%= r.address %></h1><br><br>
          </div>
       <% end %>

    </div>
    <% e = 10 %>
    <% i = 0 %>

    <div class="small-12 medium-6 large-6 columns">

      <% @schools.each do |school| %>

      <h3 id="<%= i %>" >School Name: <%= school.name %> </h3>

        <div id="<%= e %>" class="option" >
          <div  class="callout classroom">

            <h5>School Address: <%= school.address %> </h5>
            <h5>School City: <%= school.city %> </h5>
            <h5>School State: <%= school.state %> </h5>
            <h5>School Zip Code: <%= school.zip_code %> </h5>

            <p> <%= link_to 'Add classrooms', user_school_classroom_path(current_user, school ) %> </p>

            <% school.classrooms.each do |classroom| %>
            <div class="callout">

            <h4>Classroom Name: <%= classroom.subject %></h4>
            <h4>Classroom Grade: <%= classroom.grade %></h4>
            <h4>Classroom Class Number: <%= classroom.class_number %></h4>

            <p> <%= link_to 'Add Student', user_school_classroom_student_path(current_user, school, classroom ) %> </p>

            <% classroom.students.each do |student| %>
                <h5>Student Name <%= student.full_name %> </h5>
                <h5>Student Grade <%= student.grade %> </h5><br><br>
                <% if student.profile_photo? %>
               <%= image_tag(student.profile_photo) if current_user.profile_photo? %>
               <% end %>
               <%= link_to 'Edit Student', edit_user_school_classroom_student_path(current_user, school, classroom, student ) %><br><br>

            <% end %>
          </div>
           <% end %>
          </div>
        </div>
          <% e = e + 1 %>
          <% i = i + 1 %>
        <% end %>
      </div>

      <% user_id = @user.id %>

<% if current_user.admin? || current_user.teacher? %>

<div class="small-12 large-6 medium-6 columns">
  <h3 id="l">Click here to add Schools</h3>

    <div id="p" class="translucent-form-overlay">

       <%= form_for @school, html: { class: ''} do |f| %>

          <%= f.label :name, 'School Name' %><br/>
          <%= f.text_field :name, required: true, autofocus: true %></br>

          <%= f.label :address, 'School Address' %><br/>
          <%= f.text_field :address, required: true, autofocus: true %></br>

          <%= f.label :city, 'School City' %><br/>
          <%= f.text_field :city, autofocus: true %>

          <%= f.label :state, 'School State' %><br/>
          <%= f.select(:state, options_for_select([
              ['-', '-'],
              ['Alaska', 'AK'],
              ['Alabama', 'AL'],
              ['Arkansas', 'AR'],
              ['American Samoa', 'AS'],
              ['California', 'CA'],
              ['Colorado', 'CO'],
              ['Connecticut', 'CT'],
              ['District of Columbia', 'DC'],
              ['Delaware', 'DE'],
              ['Florida', 'FL'],
              ['Georgia', 'GA'],
              ['Hawaii', 'HI'],
              ['Iowa', 'IA'],
              ['Idaho', 'ID'],
              ['Illinois', 'IL'],
              ['Kansas', 'KS'],
              ['Kentucky', 'KY'],
              ['Louisiana', 'LA'],
              ['Massachusetts', 'MA'],
              ['Maryland', 'MD'],
              ['Maine', 'ME'],
              ['Michigan', 'MI'],
              ['Minnesota', 'MN'],
              ['Missouri', 'MO'],
              ['Mississippi', 'MS'],
              ['Montana', 'MT'],
              ['North Carolina', 'NC'],
              ['North Dakota', 'ND'],
              ['Nebraska', 'NE'],
              ['New Hampshire', 'NH'],
              ['New Jersey', 'NJ'],
              ['New Mexico', 'NM'],
              ['Nevada', 'NV'],
              ['New York', 'NY'],
              ['Ohio', 'OH'],
              ['Oklahoma', 'OK'],
              ['Oregon', 'OR'],
              ['Pennsylvania', 'PA'],
              ['Puerto Rico', 'PR'],
              ['Rhode Island', 'RI'],
              ['South Carolina', 'SC'],
              ['South Dakota', 'SD'],
              ['Tennessee', 'TN'],
              ['Texas', 'TX'],
              ['Utah', 'UT'],
              ['Virginia', 'VA'],
              ['Virgin Islands', 'VI'],
              ['Vermont', 'VT'],
              ['Washington', 'WA'],
              ['Wisconsin', 'WI'],
              ['West Virginia', 'WV'],
              ['Wyoming', 'WY'],

          ])) %>

          <%= f.label :zip_code %><br/>
          <%= f.text_field :zip_code, autofocus: true %>

          <%= f.hidden_field :user_id, value: user_id %>


          <%= f.submit "Submit", class: 'button submit-button' %>
      <% end %>

   <% end %>
  </div>
</div>
