<div class="school-box large-12 medium-12 columns" >
  <!-- parent Information box -->
  <% if !current_user.teacher && current_user.role != "admin" %>
      <div class="callout large-8 columns">
        <% if current_user.tokens %>
          <% current_user.tokens.each do |t| %>
            <!-- Student information array  -->
            <% if t.student != nil%>
              <% teacher = User.where(id: t.student.user_id) %>
              <div class="callout large-12 columns">
                <ul>
                  <h5>Teacher Name: <%= teacher[0].full_name %></h5>
                  <p>Student Name: <%= t.student.full_name %></p>
                  <p>Grade: <%= t.student.grade %></p>
                  <p>Last Upgrate: <%= t.student.updated_at.strftime("%m/%d/%Y %H:%M") %></p>
                  <%= image_tag(t.student.profile_photo) if (t.student.profile_photo?) %>
                  <p>Token: <%= t.token %></p>
                  <p>Id: <%= t.student.id %> </p>
                  <%= link_to 'Delete Token', t, method: :delete, data: { confirm: 'Are you sure?' } %><br>
                </ul>
                <!-- Teacher Classroom Comment -->
                <div class="callout large-6 medium-6 columns">
                  <h5>Teacher Comments:</h5>

                  <% t.student.classroom.comments.each do |comment| %>
                    <% if comment.ignore == false %>
                      <% if comment.student_id == nil %>
                        <div class="callout">
                          <p class="subject-comment-box">Subject: <%= comment.subject %></p>
                          <p><%= comment.comment %></p>
                          <p>Posted Date: <%= comment.created_at.strftime("%m/%d/%Y %H:%M") %></p>

                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
                <div class="callout large-6 medium-6 columns">

                  <h5>Teacher direct message:</h5>
                  <% t.student.classroom.comments.each do |comment| %>
                    <% if comment.ignore == false %>
                      <% if comment.student_id != nil && comment.user_id != current_user.id %>
                        <div class="callout">
                          <p class="subject-comment-box">Subject: <%= comment.subject %></p>
                          <p><%= comment.comment %></p>
                          <p>Posted Date: <%= comment.created_at.strftime("%m/%d/%Y %H:%M") %></p>
                          <!-- teacher comment uncheck -->
                          <%= form_for comment, html: {class: ''} do |f| %>
                            <%= f.hidden_field :ignore, value: true %>
                            <%= f.submit "delete", class: 'button' %>
                          <% end %>
                          <button class="button" data-toggle="exampleModal9">Reply</button>
                          <div class="reveal" id="exampleModal9" data-reveal data-overlay="false">

                            <%= form_for @comment, html: {class: ''} do |f| %>
                              <%= f.hidden_field :subject, value: comment.subject %>

                              <%= f.label :comment, 'Class Comment' %>
                              <%= f.text_area :comment, size: "60x6" %>

                              <%= f.hidden_field :user_id, value: current_user.id %>

                              <%= f.hidden_field :classroom_id, value: comment.classroom_id %>

                              <%= f.hidden_field :student_id, value: comment.student_id %>

                              <%= f.submit "Submit", class: 'button submit-button' %>
                            <% end %>
                            <button class="close-button" data-close aria-label="Close reveal" type="button">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>

                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
                <div class="callout large-12 columns">
                  <h5>Replys to Teacher</h5>
                  <% t.student.classroom.comments.reverse.each do |comment| %>
                  <% if comment.user_id == current_user.id %>
                  <div class="callout">
                    <p class="subject-comment-box">Teacher Subject: <%= comment.subject %></p>
                    <p><%= comment.comment %></p>
                    <p>Posted Date: <%= comment.created_at.strftime("%m/%d/%Y %H:%M") %></p>
                    <%= link_to 'Delete Comment', comment, method: :delete, data: { confirm: 'Are you sure?' } %>

                  </div>
                  <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>

          <% end %>
        <% end %>
      </div>
      <!-- Token fill parent -->
      <div class="callout large-4 columns">
        <h5>Enter token and id to find your child teacher</h5>
        <% user_id = current_user.id %>
        <%= form_for @token, html: { class: ''} do |f| %>
          <% if @token.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@token.errors.count, "error") %> prohibited this token from being saved:</h2>
              <ul>
                <% @token.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= f.label :token, 'Token' %>
          <%= f.text_field :token %>

          <%= f.hidden_field :user_id, value: user_id %>

          <%= f.label :student_id, 'Enter Student ID' %>
          <%= f.text_field :student_id %>

          <%= f.submit "Submit", class: 'button submit-button' %>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- teacher school form and school info box -->
  <% if current_user.admin? || current_user.teacher? %>
    <div class="large-4 medium-6 small-12 columns">
      <div class="callout">

        <p>In this page you would see an add school form,
          in that form you can add your school, when finish press the
          school bus </p>
      </div>
      <!-- School list -->
      <% if @schools.length >= 1 %>
        <div class="callout school-list">

          <% @schools.each do |school| %>
          <div class="callout">
            <h4>School info:</h4>
            <p class="school-info"><%= school.name %></p>
            <p class="school-info"><%= school.address %></p>
            <p class="school-info"> <%= school.city %>, <%= school.state %> <%= school.zip_code %></p>
            <% school.classrooms.each do |c| %>
              <p class="school-info"> <%= link_to "#{c.subject}", user_school_classroom_path(current_user, school, c) %> </p>
            <% end %>
            <p class="school-info"><%= link_to 'Add or Delete Classrooms', user_school_classrooms_path(current_user, school) %> </p>
            <p class="school-info"><%= link_to 'Delete School', school, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <!-- Add school form -->
    <% user_id = @user.id %>
    <div class="small-12 large-4 medium-6 columns form">
      <div class="translucent-form-overlay">

        <%= form_for @school, html: { class: ''} do |f| %>

          <% if @school.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>
            <ul>
              <% @school.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
          <div class="large-12 columns">
            <%= f.label :name, 'School Name' %><br/>
            <%= f.text_field :name, required: true, autofocus: true %></br>
          </div>
          <div class="large-12 columns">
            <%= f.label :address, 'School Address' %><br/>
            <%= f.text_field :address, required: true, autofocus: true %></br>
          </div>
          <div class="large-12 columns">
            <%= f.label :city, 'School City' %><br/>
            <%= f.text_field :city, autofocus: true %>
          </div>
          <div class="large-6 medium-6 columns">
            <%= f.label :state, 'School State' %><br/>
            <%= f.select(:state, options_for_select([
              ['-', '-'],
              ['Alaska', 'AK'],
              ['Alabama', 'AL'],
              ['Arkansas', 'AR'],
              ['American Samoa', 'AS'],
              ['California', 'CA'],
              ['Colorado', 'CO'],
              ['Connecticut', 'CT'],
              ['District of Columbia', 'DC'],
              ['Delaware', 'DE'],
              ['Florida', 'FL'],
              ['Georgia', 'GA'],
              ['Hawaii', 'HI'],
              ['Iowa', 'IA'],
              ['Idaho', 'ID'],
              ['Illinois', 'IL'],
              ['Kansas', 'KS'],
              ['Kentucky', 'KY'],
              ['Louisiana', 'LA'],
              ['Massachusetts', 'MA'],
              ['Maryland', 'MD'],
              ['Maine', 'ME'],
              ['Michigan', 'MI'],
              ['Minnesota', 'MN'],
              ['Missouri', 'MO'],
              ['Mississippi', 'MS'],
              ['Montana', 'MT'],
              ['North Carolina', 'NC'],
              ['North Dakota', 'ND'],
              ['Nebraska', 'NE'],
              ['New Hampshire', 'NH'],
              ['New Jersey', 'NJ'],
              ['New Mexico', 'NM'],
              ['Nevada', 'NV'],
              ['New York', 'NY'],
              ['Ohio', 'OH'],
              ['Oklahoma', 'OK'],
              ['Oregon', 'OR'],
              ['Pennsylvania', 'PA'],
              ['Puerto Rico', 'PR'],
              ['Rhode Island', 'RI'],
              ['South Carolina', 'SC'],
              ['South Dakota', 'SD'],
              ['Tennessee', 'TN'],
              ['Texas', 'TX'],
              ['Utah', 'UT'],
              ['Virginia', 'VA'],
              ['Virgin Islands', 'VI'],
              ['Vermont', 'VT'],
              ['Washington', 'WA'],
              ['Wisconsin', 'WI'],
              ['West Virginia', 'WV'],
              ['Wyoming', 'WY'],

              ])) %>

          </div>
          <div class="large-6 medium-6 columns">
            <%= f.label :zip_code %><br/>
            <%= f.text_field :zip_code, autofocus: true %>
          </div>

          <%= f.hidden_field :user_id, value: user_id %>

          <%= f.submit "Submit", class: 'button submit-button' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
