 <div class="panel">

  <h1>Hello <%= current_user.full_name %></h1>

  <%= form_for current_user, html: { multipart: true } do |f| %>
          <p>
            <%= image_tag(current_user.profile_photo) if current_user.profile_photo? %>
              <% if current_user.profile_photo? %>
              <% else %>
                <label>Upload Picture</label>
                <%= f.file_field :profile_photo %>
                <div class="actions">
                  <%= f.submit "Upload Picture" %>
                </div>
              <% end %>
          </p>
        <% end %>
   </div>




      <div class="small-12 large-6 columns">

    <% @schools.each do |school| %>
    <div class="panel">
        <h3>School Name: <%= school.name %> </h3>
        <h5>School Address: <%= school.address %> </h5>
        <h5>School City: <%= school.city %> </h5>
        <h5>School State: <%= school.state %> </h5>
        <h5>School Zip Code: <%= school.zip_code %> </h5>

         @id = school.id

        <li> <%= link_to 'Add classrooms', user_school_classroom_path(current_user, school ) %> </li>

        <% school.classrooms.each do |classroom| %>
        <h4>Classroom Name: <%= classroom.subject %></h4>

        <% end %>
       </div>
       <% end %>
      </div>

      <% user_id = @user.id %>

<% if current_user.admin? || current_user.teacher? %>

<div class="small-12 large-6 columns">

    <div class="translucent-form-overlay">

      <%= form_for @school, html: { class: ''} do |f| %>

          <%= f.label :name, 'School Name' %><br/>
          <%= f.text_field :name, required: true, autofocus: true %></br>

          <%= f.label :address, 'School Address' %><br/>
          <%= f.text_field :address, required: true, autofocus: true %></br>

          <%= f.label :city, 'School City' %><br/>
          <%= f.text_field :city, autofocus: true %>

          <%= f.label :state, 'School State' %><br/>
          <%= f.select(:state, options_for_select([
              ['-', '-'],
              ['Alaska', 'AK'],
              ['Alabama', 'AL'],
              ['Arkansas', 'AR'],
              ['American Samoa', 'AS'],
              ['California', 'CA'],
              ['Colorado', 'CO'],
              ['Connecticut', 'CT'],
              ['District of Columbia', 'DC'],
              ['Delaware', 'DE'],
              ['Florida', 'FL'],
              ['Georgia', 'GA'],
              ['Hawaii', 'HI'],
              ['Iowa', 'IA'],
              ['Idaho', 'ID'],
              ['Illinois', 'IL'],
              ['Kansas', 'KS'],
              ['Kentucky', 'KY'],
              ['Louisiana', 'LA'],
              ['Massachusetts', 'MA'],
              ['Maryland', 'MD'],
              ['Maine', 'ME'],
              ['Michigan', 'MI'],
              ['Minnesota', 'MN'],
              ['Missouri', 'MO'],
              ['Mississippi', 'MS'],
              ['Montana', 'MT'],
              ['North Carolina', 'NC'],
              ['North Dakota', 'ND'],
              ['Nebraska', 'NE'],
              ['New Hampshire', 'NH'],
              ['New Jersey', 'NJ'],
              ['New Mexico', 'NM'],
              ['Nevada', 'NV'],
              ['New York', 'NY'],
              ['Ohio', 'OH'],
              ['Oklahoma', 'OK'],
              ['Oregon', 'OR'],
              ['Pennsylvania', 'PA'],
              ['Puerto Rico', 'PR'],
              ['Rhode Island', 'RI'],
              ['South Carolina', 'SC'],
              ['South Dakota', 'SD'],
              ['Tennessee', 'TN'],
              ['Texas', 'TX'],
              ['Utah', 'UT'],
              ['Virginia', 'VA'],
              ['Virgin Islands', 'VI'],
              ['Vermont', 'VT'],
              ['Washington', 'WA'],
              ['Wisconsin', 'WI'],
              ['West Virginia', 'WV'],
              ['Wyoming', 'WY'],

          ])) %>

          <%= f.label :zip_code %><br/>
          <%= f.text_field :zip_code, autofocus: true %>

          <%= f.hidden_field :user_id, value: user_id %>


          <%= f.submit "Submit", class: 'button submit-button' %>
      <% end %>
  </div>

</div>
<% end %>
      <div id="app">

      </div>
