<h1>show school</h1>


<div class="callout">
  <h1>School Information</h1>
  <h2>Name: <%= @school.name %> </h2>
  <h2>Address: <%= @school.address %>, <%= @school.city %> <%= @school.state %> <%= @school.zip_code %> </h2>

</div>
