<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Hello Teacher" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "app" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script >

    $(document).ready(function(){
       $("#p").hide();
         $("#l").click(function(){
           $("#p").slideToggle("slow");
         });
       });


    $(document).ready(function(){
     $(".option").hide();

     $([10,11,12,13,14,15,16,17,18,19]).each(function(i, e){
       $(`#${i}`).click(function(){
         $(`#${e}`).slideToggle("slow");
       });
     });
    });
    </script>

  </head>

  <body>
    <div class="top-bar" >
      <p class="menu-text ">Hello Teacher</p>
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
            <li>
              <% if user_signed_in?  %>
              <a href="#">menu</a>
              <ul>

                <p><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></p>
                <p><%= link_to 'Edit Account Info', edit_user_registration_path %></p>
                <p><%= link_to 'My Account', user_path(current_user) %></p>
              </ul>
            </li>

                  <% if current_user.admin? || current_user.teacher? %>
                    <% if current_user.admin? %>
                      <li> <%= link_to 'Admin', users_path %> </li>
                    <% end %>
                  <% end %>
                <% else %>
                    <li class="right"><%= link_to "Sign In", new_user_session_path %></li>
                    <li><%= link_to "Sign Up", new_user_registration_path %></li>
                <% end %>
          </ul>
        </div>
    </div>


    <div class="row">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div class="main">
      <div class="row">
        <div class="large-12 columns">
        <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
