<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Hello Teacher" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <!-- <div class="fixed-for-small sticky-for-medium-up"> -->
    <div class="responsive-hidden-nav-container">
    <nav class="top-bar responsive-hidden-nav" >


       <ul class="menu simple vertical medium-horizontal">

          <% if user_signed_in?  %>

          <li class="right"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <li class="right"><%= link_to 'Edit Account Info', edit_user_registration_path %></li>
            <li class="right"><%= link_to "Back", :back %></li>
            <li class="right"><%= link_to 'My Account', user_path(current_user) %></li>


            <% if current_user.admin? || current_user.teacher? %>
                <li class="right"> <%= link_to 'Add School', user_schools_path(current_user) %> </li>

              <% if current_user.admin? %>

                <li class="right"> <%= link_to 'Admin', users_path %> </li>

              <% end %>
            <% end %>


          <% else %>

              <li class="right"><%= link_to "Sign In", new_user_session_path %></li>
              <li class="right"><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
      </ul>
    </nav>
  </div>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<!-- </div> -->
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
