<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
    <title><%= content_for?(:title) ? yield(:title) : "Hello Teacher" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <script>

    $(document).ready(function(){
      $(".option").hide();

      $([10,11,12,13,14,15,16,17,18,19]).each(function(i, e){
        $(`#${i}`).click(function(){
          $(`#${e}`).slideToggle("slow");
        });
      });
    });
    </script>

  </head>

  <body>

    <div class="row">
      <div class="small-12 columns">

         <div class="top-bar topbar-responsive" >
           <section class="top-bar-section">
             <h4 class="left">Hello Teacher</h4>
             <ul>

              <% if user_signed_in?  %>

                      <p class="right"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></p>
                      <p class="right"><%= link_to 'Edit Account Info', edit_user_registration_path %></p>
                      <p class="right"><%= link_to 'My Account', user_path(current_user) %></p>

                <% if current_user.admin? || current_user.teacher? %>

                  <% if current_user.admin? %>

                    <p class="right"> <%= link_to 'Admin', users_path %> </p>

                  <% end %>
                <% end %>


              <% else %>

                  <li class="right"><%= link_to "Sign In", new_user_session_path %></li>
                  <li class="right"><%= link_to "Sign Up", new_user_registration_path %></li>
              <% end %>

             </ul>
            </section>

          </div>
          </div>







      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      </div>
      <div class="main">

       <div class="row">
        <div class="large-12 columns">

        <%= yield %>
        </div>
       </div>
      </div>

  </body>
</html>
