<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Hello Teacher" %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "app" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <div class="top-bar" >
      <p class="menu-text ">Hello Teacher</p>
      <% if current_user %>
        <%= image_tag(current_user.profile_photo, class: 'picture') if current_user.profile_photo? %>
      <% end %>
      <p class="menu-text "> <%= current_user.full_name if user_signed_in? %> </p>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <% if user_signed_in?  %>
            <li>

              <a href="#">menu</a>
              <ul>
                <p><%= link_to 'My Account', user_path(current_user) %></p>
                <p><%= link_to 'Back', url_for(:back) %></p>
                <p><%= link_to 'Edit Account Info', edit_user_registration_path %></p>
                <p><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></p>

              </ul>
            </li>

            <% if current_user.admin? || current_user.teacher? %>
              <% if current_user.admin? %>
                <li> <%= link_to 'Admin', users_path %> </li>
              <% end %>
            <% end %>
            <% else %>
                <li class="right"><%= link_to "Sign In", new_user_session_path %></li>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <% end %>
        </ul>
      </div>
    </div>

    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div class="row">
      <%= yield %>
    </div>

    <div class="footer large-12 medium-12 small-12 columns">
      <a class="fa fa-github" href="https://github.com/alexvis"> Github</a>
      <a class="fa fa-linkedin" href="https://www.linkedin.com/in/avisconde"> Linkedin</a>
    </div>

  </body>
</html>
