<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
    <title><%= content_for?(:title) ? yield(:title) : "Hello Teacher" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <div class="top-bar" >
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Hello Teacher</li>
            <li>
              <% if user_signed_in?  %>
              <a href="#">menu</a>
              <ul>

                <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                <li><%= link_to 'Edit Account Info', edit_user_registration_path %></li>
                <li><%= link_to 'My Account', user_path(current_user) %></li>
              </ul>
            </li>

                  <% if current_user.admin? || current_user.teacher? %>
                    <% if current_user.admin? %>
                      <li> <%= link_to 'Admin', users_path %> </li>
                    <% end %>
                  <% end %>
                <% else %>
                    <li class="right"><%= link_to "Sign In", new_user_session_path %></li>
                    <li><%= link_to "Sign Up", new_user_registration_path %></li>
                <% end %>
          </ul>
        </div>
    </div>


    <div class="row">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div class="main">
      <div class="row">
        <div class="large-12 columns">
        <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
